<div class="table-responsive">
<table class="table"> 
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="<%=name%>" class="sortable">
    <% blocks.each do |block| %>
      <tr data-block-id="<%= block.id %>">
        <td><%= block.name %></td>
        <td>
          <%= link_to 'Show', block %>
          <%= link_to 'Edit', edit_block_path(block) %>
          <%= link_to 'Destroy', block, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>