<div class="row">
  <p id="notice"><%= notice %></p>
</div>
<div class="row">
  <div class="row">
    <h1>Проекты</h1>
  </div>
  <div class="row">
    <%= link_to 'New Project', new_project_path %>
  </div>
</div>
<div class="row">
  <% @projects.each do |project| %>
    <div class="col-sm-4 col-md-3">
      <%= link_to(project, class: "tile") do %>
        <h2 class="tile-name">
            <%= project.name %>
        </h2>
        <p>
          information
        </p>
      <% end -%> 
    </div>
    <!--
      <%= project.name %>
      <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    !-->
  <% end -%>
  <div class="col-sm-4 col-md-3">
    <a href="#{new_project_path}" class="tile">
      <h2 class="tile-name">
          Новый проект
      </h2>
      <p>
        information
      </p>
    </a>  
  </div>
</div>
