
<div class="row header-block">
  <div class="container-fluid">
    <h1>Созданные сайты</h1>
  </div>
</div>
<div class="control-buttons">
  <div>
    <%= link_to 'Новый проект', new_project_path, class: "btn btn-default new-create-btn" %>
  </div>
</div>
<div class="row">
  <% @projects.each do |project| %>
    <div class="col-sm-4 col-md-3">
      <%= link_to(project, class: "tile") do %>
        <h2 class="tile-name">
            <%= project.name %>
        </h2>
        <p>
          Домен не подключён
        </p>
      <% end -%> 
    </div>
    <!--
      <%= project.name %>
      <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    !-->
  <% end -%>
</div>
