<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <div class="row">
    <h1>
    	<%= @version.name %>
    </h1>
  </div>
  <div class="row">
  	<%= link_to 'Edit', edit_version_path(@version) %> |
	<%= link_to 'Back', version_path %>
    <%= link_to 'Новый вариант', new_block_path %>
  </div>
</div>


<%= render 'blocks/blocks_list', blocks: @blocks %>
